<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>

<section class="container">
    <table class="table">
        <tr>
            <td>Error Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr>
            <td>Status Code</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <td>Stacktrace</td>
            <td><pre th:text="${trace}"></pre></td>
        </tr>
        <tr>
            <td>Binding Errors</td>
            <td th:text="${errors}"></td>
        </tr>
    </table>
</section>

<div th:replace="~{fragments/footer :: footer }"></div>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>